/* ========== VARIABLES ========== */
:root {
    --color-red: #cb1214;
    --color-red-light1: #f5494c;
    --color-red-light2: #ff8084;
    --color-blue: #1259b5;
    --color-blue-light1: #4898ff;
    --color-blue-light2: #b3e6ff;
    --color-white: #fff;
    --color-black: #090909;
    --color-grey1: #272727;

    --font-heading: 'Orbitron', sans-serif;
    --font-default: 'Lato', sans-serif;
}

/* ========== COMMON ========== */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 50%; /* 8px/16px = 50% -> 1rem = 8px */
}

body {
    font-family: var(--font-default);
    min-height: 100vh;
    line-height: 1.6;
    color: var(--color-black);
    position: relative;
    font-size: 1.6rem;
}


/* ========== HEADINGS ========== */
h1,
h2,
h3 {
    font-family: var(--font-heading);
}

h1 {
    margin-bottom: 2rem;
    font-size: 5rem;
    font-weight: 900;
    line-height: 1.2;
}

h2 {
    font-size: 2.5rem;
    text-transform: capitalize;
    font-weight: 700;
}

/* ========== MAIN CONTENTS ========== */
.container {
    width: calc(100% - 4rem);
    max-width: 960px;
    margin: 0 auto;
    padding: 2rem;
}

section {
    margin-bottom: 3rem;
}

.character-holder {
    padding: 1rem 0;
    display: flex;
}

.character-panel {
    width: 15rem;
    padding: 1rem;
    font-size: 1.5rem;
    text-align: center;
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.5);
    cursor: pointer;
}

.character-panel:not(:last-child) {
    margin-right: 2rem;
}
.character-panel p {
    line-height: 1;
}

.character-panel img {
    width: 100%;
    margin: .5rem 0;
    display: block;
}

#your-character .character-panel {
    background-color: var(--color-white);
}

#your-character .character-panel:hover {
    background-color: var(--color-blue-light2);
}

#enemies .character-panel {
    background-color: var(--color-red-light2);
    color: var(--color-black);
}

#enemies .character-panel:hover {
    background-color: var(--color-red-light1);
}

#defender .character-panel {
    background-color: var(--color-black);
    color: var(--color-white);
}

#defender .character-panel:hover {
    background-color: var(--color-grey1);
}

.btn {
    margin-top: .5rem;
    padding: .5rem 1rem;
    font-size: 1.8rem;
    color: var(--color-white);
    border-radius: .5rem;
    transition: background-color .3s;
    cursor: pointer;
}

.btn-attack {
    background-color: var(--color-red);
}

.btn-attack:hover,
.btn-attack:focus {
    background-color: var(--color-red-light1);
}

.btn-restart {
    display: none;
    background-color: var(--color-blue);
}

.btn-restart:hover,
.btn-restart:focus {
    background-color: var(--color-blue-light1);
}

@media screen and (min-width: 641px) {
    /* width: 641px to 768px */
    html {
        font-size: 62.5%; /* 10px/16px = 62.5% -> 1rem = 10px */
    }

    .container {
        padding: 4rem;
    }
}